<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <!-- Use below version of Bootstrap which author is also using -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <div class="jumbotran">
        <h1>Home Page</h1>
        <h2>Click on <a href="/my_app/users/">Users</a> to sign up!</h2>
        <h2>For help, please visit <a href="/my_app/help/">Help</a></h2>
      </div>
    </div>

  </body>
</html>
